<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Title</title>
  </head>
  <body>
    <div class="container" ng-app='LightningTalks'>
      <div class="row">
        <h1>Houston Ruby Lightning Talks</h1>
      </div>

      <div class="row">

        <section id="main" class='col-xs-12 col-md-9 col-md-push-3' ng-controller='DashboardController'>
          <div ng-view=true>
          </div>
        </section>

        <aside class="col-xs-12 col-md-3 col-md-pull-9" id="sidebar" ng-controller='SidebarController' ng-init='loadTalks()'>
          <h5>Talks</h5>
          <ul ng-repeat="t in talks">
            <li>{{t.name}} - {{t.twitter}}</li>
          </ul>
        </aside>
      </div>
    </div>
  </body>
</html>
