<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Title</title>
  </head>
  <body>
    <div class="container">
      <div class="row" ng-app='LightningTalks'>
        <h1>Hello Angular</h1>
        <input ng-model="myText"></input>{{ myText }}
      </div>

      <div class="row" ng-controller='TalkController'>
        <aside class="" id="sidebar">
          <h5>Talks</h5>
          <ul>
            <li>Talk</li>
            </li>
          </ul>
        </aside>

        <section id="main">
          <div>
            [previous]
          </div>
          <div>
            [current]
          </div>
          <div>
            count-down
          </div>
          <div>
            [next]
          </div>
        </section>
      </div>
    </div>
  </body>
</html>
