<!DOCTYPE html>
<html lang='en'>
  <head>
    <%= stylesheet_link_tag :application, :media => :all %>
    <%= javascript_include_tag :application %>
    <title>Title</title>
  </head>
  <body>
    <div class="container" ng-app='LightningTalks'>
      <div class="row">
        <a ng-href="/"><h1>Houston Ruby Lightning Talks</h1></a>
      </div>

      <div class="row">

        <section id="main" class='col-xs-12 col-md-9 col-md-push-3' ng-controller='DashboardController'>
          <div ng-view=true>
          </div>
        </section>

        <aside class="col-xs-12 col-md-3 col-md-pull-9" id="sidebar" ng-controller='SidebarController' ng-init='loadTalks()'>
          <h5>Talks</h5>
          <ol class='talks'>
            <li ng-repeat="t in talks" >
              <span ng-class='{current: t.current_talk}'>{{t.name}} - {{t.twitter}}</span>
            </li>
          </ol>
        </aside>
      </div>
    </div>
  </body>
</html>
